---
import Layout from '../layouts/Layout.astro';
import TopNav from '../components/TopNav.astro';
import SectionHeader from '../components/SectionHeader.astro';

import CaptionedImage from '../components/CaptionedImage.astro';

import { Image } from 'astro:assets'
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**');
const imagePath="/src/assets/poster.png";

---
<Layout title="Contact Us">
    <TopNav title="Contact Us"></TopNav>
    <SectionHeader title="Contact Us"></SectionHeader>
        
    <div class="flex mx-auto items-center justify-center m-8 p-8">
        <div>
        <p class="w-full text-center mb-12 font-bold">Tickets available through <a href="https://www.32auctions.com/organizations/129847/auctions/184547/auction_items/6286942" class="text-blue-500 underline">32 Auctions</a> or by contacting Pat at the church office.</p>
        <p class="w-full text-center">John Black Memorial Church <br>
            <span class="font-bold">Address:</span> 898 Henderson Hwy </br>
            (main entrance on Roberta Ave.)<br/> 
            <span class="font-bold">Phone:</span> (204) 661-2579</br>
            <span class="font-bold">Email: </span>jblackuc@mymts.net </br>
            <span class="font-bold">Office Administrator:</span> Pat Johnston </br>
            <span class="font-bold">Office Hours:</span> - Tues. - Thurs 9 am - 2 pm </br>
        </p>
        </div>

    </div>
    

    
</Layout>