---

---

<div class="mx-20 my-8 justify-center text-gray-900 row border max-w-4xl">
    <p class="text-sm text-center italic font-semibold">
        "Autumn Song"
        A community gathering with song to support those whose lives are affected by poverty, compounded by Canada's Housing Crisis
    </p>
    <div class="flex justify-between w-full border p-4">
        <a class="text-xl text-blue-400 dark:text-blue-600 hover:underline" href="#">Performers</a>
        <a class="text-xl text-blue-400 dark:text-blue-600 hover:underline" href="#">Art Gallery</a>
        <a class="text-xl text-blue-400 dark:text-blue-600 hover:underline" href="#">Contact Us</a>
    </div>
    <p class="text-sm text-center">
        Autumn Song concert and art auction is being held to raise awareness of the plight, especially as winter approaches, of those who are not adequately housed. Proceeds from the concert and auction will go to Siloam Mission. They provide overnight shelter, meals, shower and laundry facilities, clothing, personal hygiene products, etc. to those in need. Other services they offer include health care, transition services, spiritual development, mental health and wellness, community education, and they help build futures by assisting individuals in preparing for and finding meaningful employment. More information is available on their website. <a href="#" class="text-blue-600 dark:text-blue-600 hover:underline">WEBSITE LINK</a> 
    </p>
    <div class="text-center text-blue-400 dark:text-blue-600 hover:underline">
        BUY TICKETS
    </div>
</div>

<style>

</style>