---
    const {imageOnRight, imagePath, description, name } = Astro.props;
    import CaptionedImage from "./CaptionedImage.astro";
---
<section class="bg-white">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        { !imageOnRight && <CaptionedImage imagePath={imagePath}/>}
        <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900" set:html={name}></h2>
            <p class="mb-6 font-light text-gray-900 md:text-lg" set:html={description}></p>
        </div>
        { imageOnRight &&  <CaptionedImage imagePath={imagePath}/> }
    </div>
</section>

