---
    const { html } = Astro.props;
---

<button data-popover-target="popover-description" data-popover-placement="bottom-end" type="button">©<span class="sr-only">Show information</span></button>
<div data-popover id="popover-description" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
    <div class="p-3 space-y-2">
        <div set:html={html}></div>
    </div>
    <div data-popper-arrow></div>
</div>

